#todos .material-icons {

    float: right;
    cursor: pointer;

}

.DELETED {
    background-color: #d50000!important;
}

.RESOLVED {

    background-color: #1b5e20!important;

}
.PENDING {

    background-color: #0091ea!important;

}

.DELETED, .RESOLVED {

    text-decoration: line-through;

}